@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    background-color:#FBC5D1 ;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    background-color: #E08B9E;
    text-align: center;
    font: 50px;
    border:2px solid #611F2D;
    color: #000000;
}
img{
    height: auto;
    width: 400px;
    margin: auto;
    display: block;
    border-radius: 10px;
   padding: 10px;
} 

.persona1{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.imagen1{
  height: 300px;
    width: 1350px;
    margin: auto;
    display: block; 
    border-radius: 10px;
}

