@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    background-color:#FBC5D1 ;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width:  10rem;
    border-radius: 100%;
}
h1{
    background-color: #E08B9E;
    text-align: center;
    font: 50px;
    border:2px solid #611F2D;
    color: #000000;
}
h1::first-line {
    color: rgb(119, 7, 59);
    text-decoration: underline;
  }

  h2::first-line {
    color: rgb(219, 70, 233);
    text-decoration: underline;
  }
h3{
    background-color: #E08B9E;
    text-align: center;
    font: 50px;
    border:2px solid #611F2D;
    color: #110346;
}

img{
    height: auto;
    width: 400px;
    margin: auto;
    display: block;
    border-radius: 10px;
   padding: 10px;
} 

.persona1{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.imagen1{
  height: 300px;
    width: 1350px;
    margin: auto;
    display: block; 
    border-radius: 10px;
}

.imagen img{
    width: 100%;
}
.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

@media (min-width:100px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px){
    .galeria{
        grid-template-columns: repeat(2, 50%);
    }
}
@media (min-width:728px){
    .galeria{
        grid-template-columns: repeat(3, 33.3%);
    }
}
@media (min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 25%);
    }
}

p::first-letter{
    font-size: 36px;
    font-weight: bold;
    color: crimson;
}

div {
    border: solid 1px rgb(223, 12, 100);
   }
   div p:first-child {
    color: rgb(20, 50, 182);
    font-size: 20px;
  }